<div id="desafio">
  <!-- 1) Ligue o botão para alternar a exibição dos dois
    parágrafos. Use ambos v-if e v-show e inspecione os elementos
    para ver a diferença -->
  <h2>#01</h2>
  <div>
    <button @click="um = !um">Alternar</button>
    <p v-if="um">Você quer me ver ...</p>
    <p v-else>...ou eu</p>
    <p v-show="um">Você quer me ver ...</p>
    <p v-show="!um">...ou eu</p>
    <!-- A diferença é que o v-show estiliza o elemento para display none enquanto o
    v-if retira de fato o elemento do html  -->
  </div>

  <!-- 2) Exiba em uma <ul> um array de elementos da sua escolha.
    Imprima também o índice de cada elemento. -->
  <h2>#02</h2>
  <ul v-for="(element, indice) in array">
    <li> {{ indice }}: {{ element }}</li>
  </ul>
  
  <!-- 3) Imprimir todos os pares de valor-chave do objeto a seguir:
    {
			titulo: 'O Senhor dos Anéis',
			autor: 'J.R.R. Tolkiens',
			volume: '3'
		}
    Imprima também o índice de cada item. -->
  <h2>#03</h2>
  <ul v-for="(valor, chave, indice) in livro" >
    <li> {{ indice }}: {{ chave }}: {{ valor }} </li>
  </ul>
  
  <!-- 4) Imprima o seguinte objeto (somente os valores) e
    também crie um loop aninhado para o array:
    {
			id: 10,
			nome: 'Maria',
			notas: [7.67, 8.33, 6.98, 9.21]
		}
    (dica: use v-for e v-if na resolução) -->
  <h2>#04</h2>
  <ul v-for="aluno in aluno">
    <li v-for="valor in aluno">
    {{ valor }} dsf
    </li>
  </ul>
  <ul v-if="true" v-for="aluno in aluno">
    <li v-for="valor in aluno">
    {{ valor }}
    </li>
  </ul>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="app.js"></script>