<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

<div id="game">
  <div class="panel scores">
    <div class="score">
      <h1>Jogador 1</h1>
      <div class="lifeBar">
        <div class="life" 
          :class="{danger: playerLife < 20}" 
          :style="{width: playerLife + '%'}">
        </div>
      </div>
      <div> {{ playerLife }}% </div>
    </div>
    <div class="score">
        <h1>Monstro</h1>
        <div class="lifeBar">
          <div class="life" 
            :class="{danger: monsterLife < 20}" 
            :style="{width: monsterLife + '%'}">
          </div>
        </div>
        <div> {{ monsterLife }}% </div>
      </div>
  </div>
  <div v-if="hasResult" class="panel result">
    <div v-if="monsterLife === 0" class="win">Você ganhou!!!</div>
    <div v-if="playerLife === 0" class="lose">Você Perdeu :(</div>
  </div>
  <div class="panel actions">
    <template v-if="started">
        <button class="btn attack" @click="attack(false)">ATAQUE</button>
        <button class="btn special-attack" @click="attack(true)">ATAQUE ESPECIAL</button>
        <button class="btn heal" @click="healAndHurt">CURAR</button>
        <button class="btn giveUp" @click="started = façse">DESISTIR</button>
    </template>
    <button v-else class="btn start" @click="startGame">INICIAR JOGO</button>
  </div>
  <div class="panel logs"></div>
</div>
<script src="https://unpkg.com/vue"></script>
<script src="app.js"></script>
</body>
</html>